<footer>
    <div id="flex3">
        <div id="trickster">
            @Trickstrer. All Rights Reserved
        </div>
        <div id="auto">
            <div>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <% if(locals.user){ %>
                    <li>
                        <a href="/users/profile/<%= user.id %>">Profile</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
        
    </div>
</footer>