<link rel="stylesheet" href="/css/reset.css">
<br>
<br>
<div id="main">
    <form action="/users/resetPin" method="post">
        <label for="email" class="label">Username: </label>
        <input type="email" required placeholder="Enter Username" name="email" class="input" >
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>