<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header'); %> -->
        <link rel="stylesheet" href="/css/user.css">
        <h1>Codeinit/Users</h1>
        <!-- <%- include('_footer'); %>
    </body>
</html> -->