<link rel="stylesheet" href="/css/newPassword.css">
<div id="main">
    <h2>Hello <%= user.name %>,</h2>
    <h3>Please click on the link below for initiating the process</h3>
    <a href="http://localhost:8000/users/newp?token=<%= reset.token %>">
        <button>
            Reset
        </button>
    </a>
</div>